python-telegram-bot[job-queue]==21.5
groq>=0.4.0
matplotlib>=3.7.0
openpyxl>=3.1.0
requests>=2.31.0
flask>=3.0.0
waitress>=3.0.0
psycopg2-binary>=2.9.0
reportlab>=4.0.0
arabic_reshaper>=3.0.0
python-bidi>=0.4.0
PyMuPDF>=1.24.0
edge-tts>=6.1.0
gTTS>=2.5.0
pywebpush>=2.0,<3
